{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1>Create new Episode</h1>

    {{ include('episode/_form.html.twig') }}
    <div class="row d-flex justify-content-between">
        <a class="btn btn-primary" href="{{ path('episode_index') }}">back to list</a>
    </div>
{% endblock %}
